.contacts{
    width: 100%;

    margin-top: 6.5%;

    .main_contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;


        width: 100%;

        .littel_main_c{
            position: relative;

            width: 23%;
            
            display: flex;
            flex-wrap: wrap;

            .title_main_c{
                width: 100%;

                margin: -1% 0 3% 30%;

                font-size: 28px;
                letter-spacing: 1px;
                color: #181818;
                font-family: 'Helvetica LT Std';
            }

            img{
                position: absolute;
                left: 0;
                top: 10%;
            }

            a,
            p{
                font-style: 16px;
                letter-spacing: 0px;
                line-height: 24px;
                color: #262626;
                font-weight: 400;
                font-family: 'Lato';

                margin-left: 80px;

                transition: color .3s;

            }
            a:hover{
                color: #f0d839;
            }
        }
    }

    .soc_contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 60%;

        margin: 5.2% auto 0;

        a{
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 67px;
            height: 67px;

            border: 3px solid #f0d839;
            border-radius: 33px;

            transition: background-color .3s;

            img{
                position: absolute;
            }

            &:hover{
                background-color:  #f0d839;
            }
        }
    }
}
@media screen and (max-width:1230px){
    .contacts{
        .main_contacts{
            justify-content: space-between;
        }

        .soc_contacts{
            width: 80%;
        }
    }
}
@media screen and (max-width:1050px){
    .contacts{
        .main_contacts{
            .littel_main_c{
                width: 30%;
                .title_main_c{
                    margin-left: 80px;
                }
            }
        }
    }
}
@media screen and (max-width:837px){
    .contacts{
        .main_contacts{
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;

            width: 100%;
            .littel_main_c{
                width: 35%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 7%;

                a,
                p,
                .title_main_c{
                    margin-left: 100px;
                }
            }
        }
    }
}
@media screen and (max-width:710px){
    .contacts{
        .main_contacts{
            margin-top: 8%;
            .littel_main_c{
                width: 50%;
                margin-left: 30%;
            }
        }
        .soc_contacts{
            width: 100%;
            justify-content: center;

            a{
                margin-left: 1%;
                margin-right: 1%;
                margin-bottom: 2%;
            }
        }
    }
}
@media screen and (max-width:490px){
    .contacts{
        .main_contacts{
            margin-top: 10%;
            .littel_main_c{
                width: 80%;
                margin-left: 20%;
            }
        }
    }
}
@media screen and (max-width:490px){
    .contacts{
        .main_contacts{
            margin-top: 15%;
        }
    }
}
@media screen and (max-width:400px){
    .contacts{
        .main_contacts{
            margin-top: 20%;
            .littel_main_c{
                width: 100%;
                margin-left: 5%;
            }
        }
    }
}