$pink_color: /*#cd0a2d*/ #26d2e9;
$red_color: #c60909;

footer{
    margin-top: 4%;

    padding: 2.5% 0 2.5%;

    background-color: $pink_color;

    text-align: center;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 400;
    font-family: 'Lato';
    color: #FFF;
}