$pink_color: #cd0a2d;


.mine_scrin{
    background-image: url(../../img/first_block/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 11%;


    h1{
        position: relative;
        z-index: 1;

        font-family: 'Billy Ohio';
        font-size: 116px;
        line-height: 96px;
        color: #FFF;
        text-align: center;

        filter: drop-shadow(3.709px 1.498px 0px rgba(0,0,0,0.5));
    }

    .bike{
        width: 80%;

        display: block;

        margin-left: auto;
        margin-right: auto;
        margin-top: -4%;

        position: relative;
        z-index: 10;
    }

    .first_block{
        margin-top: 3.5%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .little_first_b{
            width: 31%;

            .img_wrapper{
                height: 351px;
                width: 100%;

                position: relative;

                img{
                    height: 100%;
                    width: 100%;

                    object-fit: cover;

                    position: relative;
                    z-index: 1;

                }

                p{
                    position: relative;
                    z-index: 10; 

                    font-family: 'BebasNeue';
                    font-weight: 400;
                    font-size: 20px;
                    letter-spacing: 1px;

                    color: #FFF;

                    top: -29%;
                    left: 2%;
                }
                .prise{
                    position: relative;
                    z-index: 10;

                    font-size: 66px;
                    font-weight: 800;

                    span{
                        font-size: 46px;
                    }
                }
                
                &::after{
                    content: '';
                    display: block;
                    width: 0;
                    height: 0;
                    border-bottom: 187px solid $pink_color; 
                    border-right: 187px solid transparent;	

                    position: absolute;
                    z-index: 5;
                    bottom: -22px;
                    left: -20px;
                }
            }

            .title_fb{
                font-family: 'Helvetica LT Std';
                font-size: 26px;
                letter-spacing: -1px;
                color: #202020;

                margin-top: 12.5%;
                margin-left: 2%;

            
            }
        }

        .text{
            color: #676767;

            margin-left: 2%;
            margin-top: 3%;
        }

        .bt{
            display: block;

            background-color: $pink_color;

            width: 112px;
            height: 38px;

            border-radius: 19px;
            border: 1px solid transparent;

            text-align: center;
            font-size: 21px;
            color: #FFF;
            font-weight: 700;
            font-family: 'BebasNeue';

            padding-top: 8px;

            margin-left: 1.5%;
            margin-top: 15.4%;

            transition: background-color .5s, color .5s, border .5s;

            &:hover{
                background-color: #ffffff;
                color: $pink_color;
                border: 1px solid $pink_color;
            }
        }
    }
}

@media screen and (min-width:1920px){
    .mine_scrin{
        background-size: cover;
    }
}
@media screen and (max-width:1235px){
    .first_block{
        padding-left: 20px;
        margin: 0 auto;
    }
}
@media screen and (max-width:1260px){
    .mine_scrin{
        h1{
            font-size: 100px;
        }
    }
}
@media screen and (max-width:1010px){
    .mine_scrin{
        padding-top: 15%;

        background-size: 150%;
        background-position: top center;
    }
}
@media screen and (max-width:940px){
    .mine_scrin .first_block{
        padding-left: 0%;

        .little_first_b{
            width: 70%;

            margin: 0 auto 5%;
        }
    }
}
@media screen and (max-width:900px){
    .mine_scrin{
        h1{
            font-size: 90px;
            line-height: 80px;
        }
    }
}
@media screen and (max-width:660px){
    .mine_scrin{
        padding-top: 20%;

        background-size: 180%;

        h1{
            font-size: 80px;
        }
    }
}
@media screen and (max-width:560px){
    .mine_scrin{

        h1{
            font-size: 65px;
            line-height: 60px;
        }
    }
}
@media screen and (max-width:460px){
    .mine_scrin{
        padding-top: 25%;

        h1{
            font-size: 50px;
            line-height: 50px;
        }
    }
}
@media screen and (max-width:441px){
    .mine_scrin .first_block{

        .little_first_b{
            width: 90%;
        }
    }
}
@media screen and (max-width:375px){
    .mine_scrin{
        padding-top: 30%;

        background-size: 200%;
        background-position: -200px -40px;

        h1{
            font-size: 45px;
            line-height: 40px;
        }
    }
}
@media screen and (max-width:360px){
    .mine_scrin{
        background-size: 220%;
        background-position:  -180px 0px;
    }
}