.since_1880{
    &::before{
        content: '';
        display: block;

        width: 50%;
        height: 67%;

        background-color: $pink_color;

        position: absolute;
        bottom: 0;
        z-index: 1;

        opacity: 60%;
    }

    position: relative;


    background-color: #1a1919;
    background-image: url(../../img/guided_motorcycle_tours_since_1880/2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;

    text-align: center;

    h2{
        color: #FFF;
        margin-top: 6%;
        margin-bottom: 1.8%;
        span{
            color: $pink_color;
        }
    }

    .text{
        display: block;

        margin: 0 auto;
        width: 74%;
    }

    img{
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 10;
    }

    .content_block_since_1880{
        margin-top: 16%;


        display: flex;
        justify-content: space-between;

        position: relative;
        z-index: 10;

        .little_content_b,
        .rlittle_content_b{
            width: 50%;

            align-items: center;

            .text{
                margin-top: 15.5%;
                margin-bottom: 23%;

                width: 80%;

                float: left;
            }
        }

        .days{
            margin-right: auto;

            width: 20%;

            display: flex;
            align-items: center;

            color: #FFF;
            font-family: 'BebasNeue';
            font-weight: 800;

            .days_big{
                font-size: 45px;
                line-height: 40px;

                margin-left: 60%;
                span{
                    font-size: 87px;
                }
            }

            .days_smole{
                font-size: 29px;
                line-height: 23px;

                margin-left: 20%;

                span{
                    font-size: 55px;
                }
            }
        }

        .rlittle_content_b{
            .text{
                float: right;
            }
            .days{
                margin-left: auto;

                .days_big{
                    margin-left: -20%;
                    span{  
                        font-size: 124px;
                    }
                }
                .days_smole{
                    margin-left: 70%;
                }
            }
        }
    }
}
@media screen and (min-width:2230px){
    .since_1880{
        img{
            width: 15%;
            
            margin-left: -7.5%;
        }
    }
}
@media screen and (max-width:2230px){
    .since_1880{
        img{
            width: 17%;
            
            margin-left: -8.5%;
        }
    }
}
@media screen and (max-width:1920px){
    .since_1880{
        img{
            margin-left: -9.5%;

            width: 19%;
        }
    }
}
@media screen and (max-width:1760px){
    .since_1880{
        img{
            top: 35%;
        }
    }
}
@media screen and (max-width:1630px){
    .since_1880{
        img{
            width: 20%;
            margin-left: -10%;
            top: 35%;
        }
    }
}
@media screen and (max-width:1550px){
    .since_1880{
        img{
            top: 39%;
        }
    }
}
@media screen and (max-width:1460px){
    .since_1880{
        img{
            width: 22%;
            margin-left: -11%;
            top: 39%;
        }
    }
}
@media screen and (max-width:1325px){
    .since_1880{
        img{
            top: 44%;
        }
    }
}
@media screen and (max-width:1215px){
    .since_1880{
        .content_block_since_1880{
            .days{
                .days_smole{
                    margin-left: 0;
                }
            }
        }
        background-size: cover;
        img{
            width: 24%;
            margin-left: -12%;
            top: 45%;
        }
    }
}
@media screen and (max-width:1080px){
    .since_1880{
        .content_block_since_1880{
            .rlittle_content_b{
                .days{
                    margin-top: -2%;
                    margin-right: 45%;
                    margin-left: none;

                    .days_big{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1029px){
    .since_1880{
        .content_block_since_1880{
            .rlittle_content_b{
                .days{
                    margin-right: 50%;
                }
            }
        }
    }
}
@media screen and (max-width:980px){
    .since_1880{
        img{
            width: 22%;
            margin-left: -11%;
            top: 54%;
        }
    }
}
@media screen and (max-width:968px){
    .since_1880{
        .content_block_since_1880{
            .rlittle_content_b{
                .days{
                    margin-right: 55%;
                }
            }
        }
    }
}
@media screen and (max-width:868px){
    .since_1880{
        img{
            display: none;
        }
        .content_block_since_1880{
            .rlittle_content_b{
                .days{
                    margin-right: 58%;
                }
            }
        }
    }
}
@media screen and (max-width:857px){
    .since_1880{
        &::before{
            height: 60%;
        }
        .content_block_since_1880{
            .rlittle_content_b{
                .days{
                    margin-right: 62%;
                }
            }
        }
    }
}
@media screen and (max-width:800px){
    .since_1880{
        &::before{
            width: 100%;
            height: 30%;

            top: 31%;
        }

        .text{
            width: 100%;
        }
        .content_block_since_1880{
            flex-wrap: wrap;
            .rlittle_content_b,
            .little_content_b{
                width: 100%;

                .text{
                    float: none;

                    margin-top: 7%;
                    width: 100%;
                }
                .days{
                    justify-content: space-between;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;
    
                    .days_big,
                    .days_smole{
                        margin-left: 0;
                    }

                }
            }
            .rlittle_content_b{
                .text{
                    margin-bottom: 10%;
                }
            }
        }
    }
}
@media screen and (max-width:670px){
    .since_1880{
        .content_block_since_1880{
            .little_content_b,
            .rlittle_content_b{
                .days{
                    width: 65%;
                }
            }
        }
    }
}
@media screen and (max-width:510px){
    .since_1880{
        &::before{
            height: 32%;

            top: 31%;
        }
        .content_block_since_1880{
            .little_content_b,
            .rlittle_content_b{
                .days{
                    width: 80%;
                }
            }
        }
    }
}
@media screen and (max-width:456px){
    .since_1880{
        &::before{
            height: 30%;
            top: 37%;
        }
    }
}
@media screen and (max-width:421px){
    .since_1880{
        &::before{
            height: 27%;
            top: 41%;
        }
        .content_block_since_1880{
            .little_content_b,
            .rlittle_content_b{
                .days{
                    width: 100%;
                }
            }
        }
    }
}