$pink_color: /*#cd0a2d*/ #26d2e9;
$red_color: #c60909;

.since_1880{
    &::before{
        content: '';
        display: block;

        width: 50%;
        height: 67%;

        background-color: $pink_color;

        position: absolute;
        bottom: 0;
        z-index: 1;

        opacity: 60%;
    }

    position: relative;


    background-color: #1a1919;
    background-image: url(../../img/guided_motorcycle_tours_since_1880/2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;

    text-align: center;

    h2{
        color: #FFF;
        margin-top: 6%;
        margin-bottom: 1.8%;
        span{
            color: $pink_color;
        }
    }

    .text{
        display: block;

        margin: 0 auto;
        width: 74%;
    }

    img{
        position: absolute;
        left: 50%;
        top: 30%;
        z-index: 10;

        margin-left: -9.5%;

        width: 19%;
    }

    .content_block_since_1880{
        margin-top: 16%;

        display: flex;
        justify-content: space-between;

        position: relative;
        z-index: 10;

        .little_content_b,
        .rlittle_content_b{
            width: 50%;

            align-items: center;

            .text{
                margin-top: 15.5%;
                margin-bottom: 23%;

                width: 80%;

                float: left;
            }
        }

        .days{
            margin-right: auto;

            width: 20%;

            display: flex;
            align-items: center;

            color: #FFF;
            font-family: 'BebasNeue';
            font-weight: 800;

            .days_big{
                font-size: 45px;
                line-height: 40px;

                margin-left: 60%;
                span{
                    font-size: 87px;
                }
            }

            .days_smole{
                font-size: 29px;
                line-height: 23px;

                margin-left: 20%;

                span{
                    font-size: 55px;
                }
            }
        }

        .rlittle_content_b{
            .text{
                float: right;
            }
            .days{
                margin-left: auto;

                .days_big{
                    margin-left: -20%;
                    span{  
                        font-size: 124px;
                    }
                }
                .days_smole{
                    margin-left: 70%;
                }
            }
        }
    }
}