@import 'reset';
@import 'header';
@import 'mine_screin';
@import 'world_wind';
@import 'world_wind_02';
@import 'since_1880';
@import 'treval_blog';
@import 'start_your_jurnie';
@import 'contacts';
@import 'footer';

$pink_color: /*#cd0a2d*/ #26d2e9;
$red_color: #c60909;
/*.bkg_img{
    background-image: url('../../Motorcycle\ Expedition\ Company\ Website\ PSD.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}*/
