.wrapper_03{
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.we_are_world_wide{
    margin-top: 4%;

    padding-bottom: 5%;

    display: flex;
    flex-wrap: wrap;

    position: relative;

    .left_block{

        background-color: $pink_color;

        margin-top: 4%;
        margin-bottom: 3.3%;

        padding-top: 2.5%;
        padding-left: 19.2%;

        width: 50%;

        color: #FFF;


        .riasons_block{

            .little_reasons_b{
                margin-bottom: 7.5%;

                .title_reasons_b{
                    font-family: 'Helvetica LT Std';
                    font-size: 26px;
                    letter-spacing: -1px;
    
                    margin-top: 5%;
                    margin-bottom: 2%;
                } 

                .text{
                    width: 65%;

                    opacity: 44%;
                }
            }
        }
    }

    >img{
        width: 18%;

        position: absolute;
        top: 1%;
        left: 50%;

        margin-left: -9%;
    }

    .right_block{
        background-color: #FFF;

        width: 50%;

        margin-top: 7%;

        .box{
            width: 44.3%;

            margin-left: 23%;
            margin-top: 8%;

            padding-bottom: 1.5%;

            .little_right_b{

                display: flex;
                flex-wrap: wrap;

                padding-bottom: 5%;

                margin-bottom: 10%;

                position: relative;

                img{
                    position: absolute;
                    top: 0;
                }
                .name{
                    font-family: 'BebasNeue';
                    color: #5e5e5e;
                    font-weight: 700;
                    font-size: 48px;
    
                    margin-left: 37%;
                }
    
                .status{
                    font-size: 25px;
                    color: #979797;
                    font-weight: 400;
                    font-family: 'BebasNeue';

                    margin: 2.5% 0 0 4.4%;
                }

                .text{
                    width: 60%;

                    margin-left: 35.7%;
                    margin-top: 1%;

                    color: #040404;

                    opacity: 66%;
                }

                &:nth-child(2){
                    img{
                        right: 0;
                    }

                    .name,
                    .text{
                        margin-left: 1%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1800px){
    .we_are_world_wide{
        >img{
            width: 19%;
            margin-left: -9.5%;
        }
    
        .left_block{
            padding-left: 17%;
        }
    }
}
@media screen and (max-width:1700px){
    .we_are_world_wide{
        >img{
            width: 21%;
            margin-left: -10.5%;
        }
        .left_block{
            padding-left: 16%;
        }
        .right_block{
            .box{
                margin-left: 20%;

                width: 48%;
            }
        }
    }
}
@media screen and (max-width:1600px){
    .we_are_world_wide{
        .left_block{
            padding-left: 12%;
        }
        .right_block{
            .box{
                margin-left: 22%;

                width: 52%;
            }
        }
    }
}
@media screen and (max-width:1500px){
    .we_are_world_wide{
        .left_block{
            padding-left: 11%;
        }
        .right_block{
            .box{
                margin-left: 22%;

                width: 57%;
            }
        }
    }
}
@media screen and (max-width:1400px){
    .we_are_world_wide{
        >img{
            width: 23%;
            margin-left: -11.5%;
        }
        .left_block{
            padding-left: 8%;
        }
        .right_block{
            .box{
                margin-left: 22%;

                width: 63%;
            }
        }
    }
}
@media screen and (max-width:1300px){
    .we_are_world_wide{
        .left_block{
            padding-left: 5%;
            .riasons_block{
                .little_reasons_b {
                    .text{
                        width: 75%;
                    }
                }
            }
        }
        .right_block{
            .box{
                margin-left: 23%;

                width: 69%;
            }
        }
    }
}
@media screen and (max-width:1200px){
    .we_are_world_wide{
        .left_block{
            padding-left: 15px;
        }
        .right_block{
            .box{
                margin: 8% 15px 0 0;
                float: right;

                width: 72%;
            }
        }
    }
}
@media screen and (max-width:1138px){
    .we_are_world_wide{
        >img{
            width: 30%;
            margin-left: 0;
            left: auto;
            right: 20px;
        }
        .left_block{
            width: 85%;
            .riasons_block{
                .little_reasons_b {
                    .text{
                        width: 70%;
                    }
                }
            }
        }
        .right_block{
            width: 100%;
    
            margin-top: -4%;
    
            .box{
                width: 60%;
    
                margin-left: auto;
                margin-right: auto;
                margin-top: 8%;

                float: none;
            }
        }
    }
}
@media screen and (max-width:1000px){
    .we_are_world_wide{
        >img{
            width: 31.5%;
        }
        .left_block{
            width: 82%;
        }
        .right_block{
    
            .box{
                width: 70%;
            }
        }
    }
}
@media screen and (max-width:870px){
    .we_are_world_wide{
        >img{
            width: 33%;
        }
        .right_block{
    
            .box{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width:790px){
    .we_are_world_wide{
        >img{
            width: 34.5%;
        }
        .right_block{
            padding:  0 20px;
            .box{
                width: 94%;
            }
        }
    }
}
@media screen and (max-width:730px){
    .we_are_world_wide{
        >img{
            width: 36%;
        }
        .left_block{
            width: 80%;

            .riasons_block{
                .little_reasons_b {
                    .text{
                        width: 78%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:665px){
    .we_are_world_wide{
        >img{
            width: 40%;
            right: -10%;
        }

        .left_block{
            width: 92%;

            .riasons_block{
                .little_reasons_b {
                    .text{
                        width: 78%;
                    }
                }
            }
        }

        .right_block{

            .box{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width:665px){
    .we_are_world_wide{
        >img{
            width: 40%;
            right: -15%;

        }
        .left_block{
            width: 95%;
        }
    }
}
@media screen and (max-width:615px){
    .we_are_world_wide{
        >img{
            width: 42%;
            right: -17%;
        }
    }
}
@media screen and (max-width:566px){
    .we_are_world_wide{
        >img{
            width: 44%;
            right: -19%;
        }
    }
}
@media screen and (max-width:534px){
    .we_are_world_wide{
        >img{
            display: none;
        }

       .left_block{
           width: 100%;
           padding-right: 19.2px;
            .riasons_block{
                .little_reasons_b {
                    .text{
                        width: 100%;
                    }
                }
            }
       }
    }
}
@media screen and (max-width:425px){
    .we_are_world_wide{
        .right_block{
            .box{
                .little_right_b{
                    .name{
                        margin-left: 27%;

                        font-size: 38px;
                    }
                    .status{
                        font-size: 20px;

                        margin: 4% 0 0 2.5%;
                    }
                    .text{
                        margin-left: 27%;
                    }
                    img{
                        width: 23%;
                    }
                }
            }
        }
    }
}