@font-face {
	font-family: 'Billy Ohio';
	src: url('../../fonts/billy_ohio/billy_ohio.eot');
    src: url('../../fonts/billy_ohio/billy_ohio.woff') format('woff'),
         url('../../fonts/billy_ohio/billy_ohio.ttf') format('truetype'), 
         url('../../fonts/billy_ohio/billy_ohio.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica LT Std';
	src: url('../../fonts/helvetica_lt_std/helveticaLTStd-comp.eot');
    src: url('../../fonts/helvetica_lt_std/helveticaLTStd-comp.woff') format('woff'), 
         url('../../fonts/helvetica_lt_std/helveticaLTStd-comp.ttf') format('truetype'),
         url('../../fonts/helvetica_lt_std/helveticaLTStd-comp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../../fonts/bebas/regular/bebas_neue_regular.eot');
    src: url('../../fonts/bebas/regular/bebas_neue_regular.woff') format('woff'),
         url('../../fonts/bebas/regular/bebas_neue_regular.ttf') format('truetype'),
         url('../../fonts/bebas/regular/bebas_neue_regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue';
	src: url('../../fonts/bebas/bold/bebas_neue_bold.eot');
    src: url('../../fonts/bebas/bold/bebas_neue_bold.woff') format('woff'), 
         url('../../fonts/bebas/bold/bebas_neue_bold.ttf') format('truetype'),
         url('../../fonts/bebas/bold/bebas_neue_bold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../../fonts/montserrat/montserrat-regular.eot');
    src: url('../../fonts/montserrat/montserrat-regular.woff') format('woff'), 
         url('../../fonts/montserrat/montserrat-regular.ttf') format('truetype'),
         url('../../fonts/montserrat/montserrat-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../../fonts/lato/regular/lato-regular.eot');
    src: url('../../fonts/lato/regular/lato-regular.woff') format('woff'), 
         url('../../fonts/lato/regular/lato-regular.ttf') format('truetype'),
         url('../../fonts/lato/regular/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../../fonts/lato/mediym/lato-medium.eot');
    src: url('../../fonts/lato/mediym/lato-medium.woff') format('woff'), 
         url('../../fonts/lato/mediym/lato-medium.ttf') format('truetype'),
         url('../../fonts/lato/mediym/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}