html {
  color: #000;
  background: #FFF;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend, input,
textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

legend {
  color: #000;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #ededed;
}

.wrapper {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper_02 {
  max-width: 1700px;
  padding: 0 15px;
  margin: 0 auto;
}

h2 {
  font-size: 68px;
  font-family: "BebasNeue";
  font-weight: 800;
}

.text {
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 24px;
  color: #ededed;
}

.header_01 {
  position: absolute;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header > img {
  margin-top: 1%;
}
.header nav {
  margin-left: 20.2%;
  margin-top: 1.3%;
}
.header nav ul {
  display: none;
}
.header nav ul li {
  display: inline;
  margin-left: 22px;
}
.header nav ul li a {
  font-family: "Montserrat";
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 27px;
  color: #FFF;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.5s;
}
.header nav ul li a:hover {
  padding-bottom: 2%;
  background-color: #ffffff;
  color: #000000;
}
.header nav .menu-icon {
  width: 45px;
  height: 45px;
  z-index: 50;
  position: relative;
  margin-left: 650px;
  float: right;
  cursor: pointer;
  border-radius: 10px;
}
.header nav .menu-icon .menu-icon-line {
  position: relative;
  width: 30px;
  height: 3.5px;
  margin-left: 8px;
  margin-top: 22px;
  background-color: #FFF;
}
.header nav .menu-icon .menu-icon-line::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #FFF;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.header nav .menu-icon .menu-icon-line::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #FFF;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.header nav .menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
}
.header nav .menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.header nav .menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.header .mobile-nav {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  height: 360px;
  width: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 9;
  padding-left: 0px;
  padding-top: 15px;
  transition: transform 0.5s ease-in;
}
.header .mobile-nav .mobile_nav__list {
  margin: 0;
  padding: 0;
  display: inline;
  flex-wrap: wrap;
}
.header .mobile-nav .mobile_nav__list .mobile_nav__item {
  display: block;
  margin-bottom: 30px;
}
.header .mobile-nav .mobile_nav__list .mobile_nav__item a {
  font-family: "Montserrat";
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 27px;
  color: #383838;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding-bottom: 2%;
  transition: border-bottom 0.3s;
}
.header .mobile-nav .mobile_nav__list .mobile_nav__item a:hover {
  border-bottom: 1.5px solid #414040;
}
.header .soc_contacts {
  width: 17.8%;
  display: flex;
  margin-top: 1%;
}
.header .soc_contacts .coc_sircl {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px #FFF solid;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin: 0 auto;
  transition: background-color 0.3s;
}
.header .soc_contacts .coc_sircl img {
  transition: filter 0.3s;
}
.header .soc_contacts .coc_sircl:hover {
  background-color: #ffffff;
}
.header .soc_contacts .coc_sircl:hover img {
  filter: invert(100%);
}

@media screen and (min-width: 1700px) {
  .header {
    padding: 0 20px 0 32px;
  }
}
@media screen and (max-width: 1480px) {
  .logo {
    width: 130px;
  }

  .header nav {
    margin-left: 0%;
  }
}
@media screen and (max-width: 1155px) {
  .header .soc_contacts {
    width: 20%;
  }
}
@media screen and (min-width: 1120px) {
  .header .menu-icon {
    display: none;
  }
  .header nav ul {
    display: block;
  }
}
@media screen and (max-width: 1070px) {
  .header .soc_contacts {
    width: 25%;
  }
  .header nav .menu-icon {
    margin-left: 580px;
  }
}
@media screen and (max-width: 990px) {
  .header .soc_contacts {
    width: 60%;
  }
  .header nav .menu-icon {
    margin-left: 450px;
  }
}
@media screen and (max-width: 870px) {
  .header .soc_contacts {
    width: 70%;
  }
  .header nav .menu-icon {
    margin-left: 390px;
  }
}
@media screen and (max-width: 800px) {
  .header .soc_contacts {
    width: 60%;
  }
  .header nav .menu-icon {
    margin-left: 300px;
  }
}
@media screen and (max-width: 720px) {
  .header .soc_contacts {
    width: 60%;
  }
  .header nav .menu-icon {
    margin-left: 220px;
  }
}
@media screen and (max-width: 640px) {
  .header {
    padding-top: 5px;
  }
  .header .soc_contacts {
    display: none;
  }
  .header nav .menu-icon {
    margin-left: 0px;
  }
}
.mine_scrin {
  background-image: url(../../img/first_block/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 11%;
}
.mine_scrin h1 {
  position: relative;
  z-index: 1;
  font-family: "Billy Ohio";
  font-size: 116px;
  line-height: 96px;
  color: #FFF;
  text-align: center;
  filter: drop-shadow(3.709px 1.498px 0px rgba(0, 0, 0, 0.5));
}
.mine_scrin .bike {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4%;
  position: relative;
  z-index: 10;
}
.mine_scrin .first_block {
  margin-top: 3.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mine_scrin .first_block .little_first_b {
  width: 31%;
}
.mine_scrin .first_block .little_first_b .img_wrapper {
  height: 351px;
  width: 100%;
  position: relative;
}
.mine_scrin .first_block .little_first_b .img_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.mine_scrin .first_block .little_first_b .img_wrapper p {
  position: relative;
  z-index: 10;
  font-family: "BebasNeue";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: #FFF;
  top: -29%;
  left: 2%;
}
.mine_scrin .first_block .little_first_b .img_wrapper .prise {
  position: relative;
  z-index: 10;
  font-size: 66px;
  font-weight: 800;
}
.mine_scrin .first_block .little_first_b .img_wrapper .prise span {
  font-size: 46px;
}
.mine_scrin .first_block .little_first_b .img_wrapper::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 187px solid #26d2e9;
  border-right: 187px solid transparent;
  position: absolute;
  z-index: 5;
  bottom: -22px;
  left: -20px;
}
.mine_scrin .first_block .little_first_b .title_fb {
  font-family: "Helvetica LT Std";
  font-size: 26px;
  letter-spacing: -1px;
  color: #202020;
  margin-top: 12.5%;
  margin-left: 2%;
}
.mine_scrin .first_block .text {
  color: #676767;
  margin-left: 2%;
  margin-top: 3%;
}
.mine_scrin .first_block .bt {
  display: block;
  background-color: #26d2e9;
  width: 112px;
  height: 38px;
  border-radius: 19px;
  border: 1px solid transparent;
  text-align: center;
  font-size: 21px;
  color: #FFF;
  font-weight: 700;
  font-family: "BebasNeue";
  padding-top: 8px;
  margin-left: 1.5%;
  margin-top: 15.4%;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.mine_scrin .first_block .bt:hover {
  background-color: #ffffff;
  color: #26d2e9;
  border: 1px solid #26d2e9;
}

.wrapper_03 {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.we_are_world_wide {
  margin-top: 4%;
  padding-bottom: 5%;
  display: flex;
  position: relative;
}
.we_are_world_wide .left_block {
  background-color: #26d2e9;
  margin-top: 4%;
  margin-bottom: 3.3%;
  padding-top: 2.5%;
  padding-left: 19.2%;
  width: 50%;
  color: #FFF;
}
.we_are_world_wide .left_block .riasons_block .little_reasons_b {
  margin-bottom: 7.5%;
}
.we_are_world_wide .left_block .riasons_block .little_reasons_b .title_reasons_b {
  font-family: "Helvetica LT Std";
  font-size: 26px;
  letter-spacing: -1px;
  margin-top: 5%;
  margin-bottom: 2%;
}
.we_are_world_wide .left_block .riasons_block .little_reasons_b .text {
  width: 65%;
  opacity: 44%;
}
.we_are_world_wide > img {
  width: 18%;
  position: absolute;
  top: 1%;
  left: 50%;
  margin-left: -9%;
}
.we_are_world_wide .right_block {
  background-color: #FFF;
  width: 50%;
  margin-top: 7%;
}
.we_are_world_wide .right_block .box {
  width: 44.3%;
  margin-left: 23%;
  margin-top: 8%;
  padding-bottom: 1.5%;
}
.we_are_world_wide .right_block .box .little_right_b {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5%;
  margin-bottom: 10%;
  position: relative;
}
.we_are_world_wide .right_block .box .little_right_b img {
  position: absolute;
  top: 0;
}
.we_are_world_wide .right_block .box .little_right_b .name {
  font-family: "BebasNeue";
  color: #5e5e5e;
  font-weight: 700;
  font-size: 48px;
  margin-left: 37%;
}
.we_are_world_wide .right_block .box .little_right_b .status {
  font-size: 25px;
  color: #979797;
  font-weight: 400;
  font-family: "BebasNeue";
  margin: 2.5% 0 0 4.4%;
}
.we_are_world_wide .right_block .box .little_right_b .text {
  width: 60%;
  margin-left: 35.7%;
  margin-top: 1%;
  color: #040404;
  opacity: 66%;
}
.we_are_world_wide .right_block .box .little_right_b:nth-child(2) img {
  right: 0;
}
.we_are_world_wide .right_block .box .little_right_b:nth-child(2) .name,
.we_are_world_wide .right_block .box .little_right_b:nth-child(2) .text {
  margin-left: 1%;
}

.we_are_world_wide_02 {
  margin-top: 0.5%;
  text-align: center;
}
.we_are_world_wide_02 h2 {
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}
.we_are_world_wide_02 h2 span {
  color: #26d2e9;
}
.we_are_world_wide_02 .text {
  display: block;
  margin: 0 auto;
  width: 67%;
  color: #5d5c5c;
}
.we_are_world_wide_02 .block_content_we_are_02 {
  display: flex;
  margin-top: 1%;
}
.we_are_world_wide_02 .block_content_we_are_02 .left_block {
  background-color: #FFF;
  width: 47%;
  margin-top: 6.8%;
  padding: 3% 0 0% 0;
}
.we_are_world_wide_02 .block_content_we_are_02 .left_block img {
  display: block;
  margin-left: 31%;
}
.we_are_world_wide_02 .block_content_we_are_02 .left_block .name {
  font-family: "BebasNeue";
  font-weight: 800;
  font-size: 29px;
  letter-spacing: 0px;
  line-height: 33px;
  color: #212121;
  margin-top: -10%;
  margin-left: 10%;
}
.we_are_world_wide_02 .block_content_we_are_02 .left_block .status {
  font-family: "BebasNeue";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 29px;
  color: #212121;
  margin-left: 12%;
}
.we_are_world_wide_02 .block_content_we_are_02 .left_block .text {
  text-align: center;
  color: #212121;
  line-height: 27px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9.5%;
}
.we_are_world_wide_02 .block_content_we_are_02 > img {
  width: 35%;
  height: 100%;
  margin-left: 10%;
}

.since_1880 {
  position: relative;
  background-color: #1a1919;
  background-image: url(../../img/guided_motorcycle_tours_since_1880/2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  text-align: center;
}
.since_1880::before {
  content: "";
  display: block;
  width: 50%;
  height: 67%;
  background-color: #26d2e9;
  position: absolute;
  bottom: 0;
  z-index: 1;
  opacity: 60%;
}
.since_1880 h2 {
  color: #FFF;
  margin-top: 6%;
  margin-bottom: 1.8%;
}
.since_1880 h2 span {
  color: #26d2e9;
}
.since_1880 .text {
  display: block;
  margin: 0 auto;
  width: 74%;
}
.since_1880 img {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 10;
  margin-left: -9.5%;
  width: 19%;
}
.since_1880 .content_block_since_1880 {
  margin-top: 16%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.since_1880 .content_block_since_1880 .little_content_b,
.since_1880 .content_block_since_1880 .rlittle_content_b {
  width: 50%;
  align-items: center;
}
.since_1880 .content_block_since_1880 .little_content_b .text,
.since_1880 .content_block_since_1880 .rlittle_content_b .text {
  margin-top: 15.5%;
  margin-bottom: 23%;
  width: 80%;
  float: left;
}
.since_1880 .content_block_since_1880 .days {
  margin-right: auto;
  width: 20%;
  display: flex;
  align-items: center;
  color: #FFF;
  font-family: "BebasNeue";
  font-weight: 800;
}
.since_1880 .content_block_since_1880 .days .days_big {
  font-size: 45px;
  line-height: 40px;
  margin-left: 60%;
}
.since_1880 .content_block_since_1880 .days .days_big span {
  font-size: 87px;
}
.since_1880 .content_block_since_1880 .days .days_smole {
  font-size: 29px;
  line-height: 23px;
  margin-left: 20%;
}
.since_1880 .content_block_since_1880 .days .days_smole span {
  font-size: 55px;
}
.since_1880 .content_block_since_1880 .rlittle_content_b .text {
  float: right;
}
.since_1880 .content_block_since_1880 .rlittle_content_b .days {
  margin-left: auto;
}
.since_1880 .content_block_since_1880 .rlittle_content_b .days .days_big {
  margin-left: -20%;
}
.since_1880 .content_block_since_1880 .rlittle_content_b .days .days_big span {
  font-size: 124px;
}
.since_1880 .content_block_since_1880 .rlittle_content_b .days .days_smole {
  margin-left: 70%;
}

.travel_blog {
  margin-top: 7%;
}
.travel_blog h2 {
  text-align: center;
}
.travel_blog .text {
  margin-top: 2%;
  color: #1a1919;
  font-weight: 500;
  line-height: 27px;
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}
.travel_blog .travel_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
}
.travel_blog .travel_block .little_trevel_b {
  width: 31%;
}
.travel_blog .travel_block .little_trevel_b .img_trevel_wrapper {
  height: 351px;
  width: 100%;
  position: relative;
}
.travel_blog .travel_block .little_trevel_b .img_trevel_wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.travel_blog .travel_block .little_trevel_b .img_trevel_wrapper p {
  position: relative;
  z-index: 10;
  font-family: "BebasNeue";
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 1px;
  color: #FFF;
  top: -22%;
  left: 2%;
}
.travel_blog .travel_block .little_trevel_b .img_trevel_wrapper .title {
  position: relative;
  z-index: 10;
  font-size: 36px;
  font-weight: 800;
}
.travel_blog .travel_block .little_trevel_b .img_trevel_wrapper::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 187px solid #c60909;
  border-right: 187px solid transparent;
  position: absolute;
  z-index: 5;
  bottom: -22px;
  left: -20px;
}
.travel_blog .travel_block .little_trevel_b .title_trevel_b {
  font-size: 26px;
  letter-spacing: 1px;
  color: #202020;
  font-family: "Helvetica LT Std";
  margin-top: 13%;
}
.travel_blog .travel_block .little_trevel_b .text {
  color: #676767;
  width: 100%;
}

.start_your_jurney {
  position: relative;
  margin-top: 4%;
  padding-top: 5.4%;
  padding-bottom: 9.5%;
  text-align: center;
  color: #FFF;
  background-image: url(../../img/start_your_jurney/background_1.png);
  background-size: cover;
}
.start_your_jurney .text {
  margin: 2.5% auto 0;
  width: 67%;
}
.start_your_jurney img {
  position: absolute;
  left: 50%;
  bottom: -13%;
  margin-left: -3%;
  width: 6%;
}

.contacts {
  width: 100%;
  margin-top: 6.5%;
}
.contacts .main_contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.contacts .main_contacts .littel_main_c {
  position: relative;
  width: 23%;
  display: flex;
  flex-wrap: wrap;
}
.contacts .main_contacts .littel_main_c .title_main_c {
  width: 100%;
  margin: -1% 0 3% 30%;
  font-size: 28px;
  letter-spacing: 1px;
  color: #181818;
  font-family: "Helvetica LT Std";
}
.contacts .main_contacts .littel_main_c img {
  position: absolute;
  left: 0;
  top: 10%;
}
.contacts .main_contacts .littel_main_c a,
.contacts .main_contacts .littel_main_c p {
  font-style: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #262626;
  font-weight: 400;
  font-family: "Lato";
  margin-left: 80px;
  transition: color 0.3s;
}
.contacts .main_contacts .littel_main_c a:hover {
  color: #f0d839;
}
.contacts .soc_contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin: 5.2% auto 0;
}
.contacts .soc_contacts a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 67px;
  border: 3px solid #f0d839;
  border-radius: 33px;
  transition: background-color 0.3s;
}
.contacts .soc_contacts a img {
  position: absolute;
}
.contacts .soc_contacts a:hover {
  background-color: #f0d839;
}

footer {
  margin-top: 4%;
  padding: 2.5% 0 2.5%;
  background-color: #26d2e9;
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Lato";
  color: #FFF;
}

/*.bkg_img{
    background-image: url('../../Motorcycle\ Expedition\ Company\ Website\ PSD.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}*/